/*
 Student Name: Jaiden Bose
 File Name: ourteam.html
 Date: 18/03/2024
*/


/* Style rule for main content */
main {
    display: block;
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1{
    font-size: 36px;
    color: antiquewhite;
}

h3{
    font-size: 20px;
}

.image-container {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}

.image-container img {
    max-width: 30%;
    height: auto;   
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
